[user]
	name = Andrea Turli
	email = andrea.turli@gmail.com
[help]
	autocorrect = 1
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[core]
	autocrlf = input
	safecrlf = true
	editor = /usr/bin/vim
[format]
    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[alias]
	sup = pull
	ss = !git-summary -r
	so = !git-summary -r -o
